h1 {
    color: red;
    font-size: 40px;
}
.page-1 {
    width: 100px;
    background-color: blue;
    color: white;
    margin-bottom: 100px;
    box-sizing: border-box;
}
.text-red {
    color: red;
}
p span {
    color: red;
}
h2 {
    background-color: green;
    color: white;
}
section {
    margin: 5px;
}
h2:nth-of-type(2) {
    padding: 40px;
}
h2:first-of-type {
    padding: 5px;
}
main p:first-child{
    margin-left: 70px;
}
ul li {
    border: 1px solid #000;
    font-size: 25px;
    padding: 5px;
}
